{% extends "admin/master.html" %}
{% import 'admin/lib.html' as lib with context %}
{% from 'admin/lib.html' import extra with context %} {# backward compatible #}
{% block head %}
  {{ super() }}
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/my_flask_admin.css', _external=True) }}" />
  {{ lib.form_css() }}
{% endblock head %}
{% block body %}
  {% block navlinks %}
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="{{ return_url }}" class="nav-link">{{ _gettext("List") }}</a>
      </li>
      {%- if admin_view.can_create -%}
        <li class="nav-item">
          <a href="{{ get_url('.create_view', url=return_url) }}"
             class="nav-link active">{{ _gettext("Create") }}</a>
        </li>
      {%- endif -%}
      {%- if admin_view.can_view_details -%}
        <li class="nav-item">
          <a class="nav-link"
             href="{{ get_url('.details_view', id=request.args.get('id') , url=return_url) }}">{{ _gettext("Details") }}</a>
        </li>
      {%- endif -%}
    </ul>
  {% endblock navlinks %}
  {% block edit_form %}
    <div class="small-content mt-2">
      <h1>Create a new API token</h1>
      <form action="{{ url_for("apitoken.create_view") }}" method="post">
        {{ api_form.csrf_token }}
        <div class="form-group">{{ api_form.token_name.label }}{{ api_form.token_name(class="form-control") }}</div>
        <div class="form-group">{{ api_form.scope.label }}{{ api_form.scope(class="form-control") }}</div>
        <input class="btn btn-primary" type="submit" value="Submit" />
      </form>
      {# {{ lib.render_form(form, return_url, extra() , form_opts) }} #}
    </div>
  {% endblock edit_form %}
{% endblock body %}
{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
{% endblock tail %}
