{% extends "admin/master.html" %}
{% block body %}
  <div class="py-5 text-center">
    <h2>Encoders Manager Admin Dashboard</h2>
    <p class="lead">This is the Encoders Manager website admin page. From here, you can manage this website</p>
  </div>
  <div class="row">
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">System info</span>
      <span class="badge bg-light rounded-pill"><i class="fa fa-info-circle"></i>
    </span>
  </h4>
  <ul class="list-group mb-3">
    <li class="list-group-item d-flex justify-content-between lh-sm">
      <div>
        <h6 class="my-0">Database</h6>
        <small class="text-muted">{{ db_instance }}</small>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between lh-sm">
      <div>
        <h6 class="my-0">Ravem</h6>
        <small class="text-muted">{{ ravem_instance }}</small>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between lh-sm">
      <div>
        <h6 class="my-0">Webcast Website</h6>
        <small class="text-muted">{{ webcast_website_instance }}</small>
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between lh-sm">
      <div>
        <h6 class="my-0">CES</h6>
        <small class="text-muted">{{ ces_instance }}</small>
      </div>
    </li>
  </ul>
  <ul class="list-group mb-3">
    <li class="list-group-item d-flex justify-content-between lh-sm">
      <div>
        <h6 class="my-0">API</h6>
        <ul>
          <li>
            <small class="text-muted"><strong>Private</strong>: <a href="{{ url_for("private_api.doc") }}" target="_blank">{{ url_for("private_api.doc") }}</a></small>
          </li>
          <li>
            <small class="text-muted"><strong>Public</strong>: <a href="{{ url_for("public_api.doc") }}" target="_blank">{{ url_for("public_api.doc") }}</a></small>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<div class="col-md-7 col-lg-8">
  <h4 class="mb-3">Stats: {{ selected_year }}</h4>
  <form method="post" action={{ url_for("admin.index") }} class="mb-3">
    {{ metrics_form.csrf_token }}
    <div class="form-group">
      {{ metrics_form.selected_year.label }}{{ metrics_form.selected_year(class="form-control") }}
    </div>
    <input class="btn btn-primary" type="submit" value="Show stats" />
  </form>
  <h5>Statistics</h5>
  <div class="row">
    <div class="col-sm-4">
      <div class="card mb-3 text-white bg-primary">
        <div class="card-body text-center">
          <h5 class="card-title">{{ metrics.recordings.recorded_events }}</h5>
          <p class="card-text">Recordings</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card mb-3 text-white bg-primary">
        <div class="card-body text-center">
          <h5 class="card-title">{{ metrics.streams.streamed_events }}</h5>
          <p class="card-text">Streams</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card mb-3 text-white bg-primary">
        <div class="card-body text-center">
          <h5 class="card-title">{{ metrics.streams_recordings.streamed_recorded_events }}</h5>
          <p class="card-text">Streams + Recordings</p>
        </div>
      </div>
    </div>
  </div>
  <h5>Rooms</h5>
  <div class="row mb-3">
    <div class="col-sm-4">
      <ol class="list-group">
        {% for room in metrics.recording_rooms %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {% for key, value in room.items() %}
              <strong>{{ key }}</strong>
              <span class="badge badge-primary badge-pill">{{ value }}</span>
            {% endfor %}
          </li>
        {% endfor %}
      </ol>
    </div>
    <div class="col-sm-4">
      <ol class="list-group">
        {% for room in metrics.stream_rooms %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {% for key, value in room.items() %}
              <strong>{{ key }}</strong>
              <span class="badge badge-primary badge-pill">{{ value }}</span>
            {% endfor %}
          </li>
        {% endfor %}
      </ol>
    </div>
    <div class="col-sm-4">
      <ol class="list-group">
        {% for room in metrics.stream_recordings_rooms %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {% for key, value in room.items() %}
              <strong>{{ key }}</strong>
              <span class="badge badge-primary badge-pill">{{ value }}</span>
            {% endfor %}
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <h4 class="mb-3">Settings</h4>
  <div class="row mb-3">
    <div class="col-sm-12">
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text"></p>
          <form method="post"
                action="{{ url_for("admin_actions_bp.settings_form_handle") }}"
                class="mb-3">
            {{ settings_form.csrf_token }}
            <div class="form-check">
              {{ settings_form.enable_ravem_notifications(class="form-check-input") }}
              <label class="form-check-label" for="defaultCheck1">{{ settings_form.enable_ravem_notifications.label }}</label>
            </div>
            <div class="form-check">
              {{ settings_form.enable_webcast_website_notifications(class="form-check-input") }}
              <label class="form-check-label" for="defaultCheck1">
                {{ settings_form.enable_webcast_website_notifications.label }}
              </label>
            </div>
            <div class="form-check">
              {{ settings_form.enable_ces_notifications(class="form-check-input") }}
              <label class="form-check-label" for="defaultCheck1">{{ settings_form.enable_ces_notifications.label }}</label>
            </div>
            <input class="btn btn-primary" type="submit" value="Save settings">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock body %}
