body {
  background-color: #f5f5f5;
}
.ui.list > .item > i.imaged {
  display: inline-block;
}

.ui.list > .item > i.imaged + .content {
  display: inline-block;
}

.ui.horizontal.list > .item > .icon.imaged + .content {
  display: inline-block;
  width: auto;
}
