{# Disable CES button if CES has been already notified or if the event has not been record #}
{% if model.ces_notified or not model.is_recorded %}
  {% set ces_disabled = "disabled='disabled'" %}
{% else %}
  {% set ces_disabled = "" %}
{% endif %}
{% if model.ravem_start_notified %}
  {% set ravem_start_disabled = "disabled='disabled'" %}
{% else %}
  {% set ravem_start_disabled = "" %}
{% endif %}
{% if model.webcast_website_notified or model.is_streamed %}
  {% set webcast_website_disabled = "disabled='disabled'" %}
{% else %}
  {% set webcast_website_disabled = "" %}
{% endif %}
{% if model.ces_notified %}
  {% set ces_disabled = "disabled='disabled'" %}
{% else %}
  {% set ces_disabled = "" %}
{% endif %}
<div class="container mt-2 mb-2">
  <div class="row">
    <div class="col">
      <div class="form-inline">
        <form class="form-inline ml-2"
              action="{{ url_for("admin_actions_bp.manual_send_to_ravem_view", event_id=model.id) }}"
              method="post">
          {{ send_to_ravem_form.csrf_token }}
          <button type="submit" class="btn btn-primary">Notify Ravem</button>
        </form>
        <form class="form-inline ml-2"
              action="{{ url_for("admin_actions_bp.manual_send_to_webcast_view", event_id=model.id) }}"
              method="post">
          {{ send_to_webcast_form.csrf_token }}
          <button {{ webcast_website_disabled }} type="submit" class="btn btn-primary">Notify Webcast Website
          </button>
        </form>
        <form class="form-inline ml-2"
              action="{{ url_for("admin_actions_bp.manual_send_to_ces_view", event_id=model.id) }}"
              method="post">
          {{ send_to_ces_form.csrf_token }}
          <button {{ ces_disabled }} type="submit" class="btn btn-primary" title="Notify CES to handle a recording">Notify CES
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
